@font-face {
  font-family: 'Eugenia Headline Web';
  src: url('../assets/fonts/Eugenia/Eugenia-HeadlineRegular-Web.woff2') format('woff2'),
    url('../assets/fonts/Eugenia/Eugenia-HeadlineRegular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'PBNeueBit-Bold';
  src: url('../assets/fonts/PPNeueBit-Bold/PPNeueBit-Bold.eot');
  src: url('../assets/fonts/simplon/SimplonBPMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/PPNeueBit-Bold/PPNeueBit-Bold.woff2') format('woff2'),
    url('../assets/fonts/PPNeueBit-Bold/PPNeueBit-Bold.woff') format('woff'),
    url('../assets/fonts/PPNeueBit-Bold/PPNeueBit-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times MT Condensed';
  src: url('../assets/fonts/Times New Roman MT Condensed Regular.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.eugenia {
  font-family: 'Eugenia Headline Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.pbNeueBit {
  font-family: 'PBNeueBit-Bold';
  font-size: 1.4em;
}

:root {
  touch-action: pan-x pan-y;
  height: 100%
}

body {
  overflow: hidden;
  transition: opacity 1s;
}

*{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.banner {
  position: fixed;
  font-size: 65px;
  /* overflow: hidden; */
  --offset: 0px;
  --move-initial: -50%;
  --move-final: 0%;
  pointer-events: none;
  line-height: 1;
  color: black;
  width: 100%;
  will-change: transform;
}

.menuDot {
  font-family: 'Times MT Condensed';
  font-size: 10px;
  pointer-events: none;
}

.menuDot.disabled {
  opacity: 0.5;
}

.menuDot.selected {
  color: #ffffff;
}

.menuDot.selected.disabled {
  /* color: #cccccc; */
  /* opacity: 0.8; */
}

.menuDot .title {
  font-size: calc(40px * 1/1.4);
  position: absolute;
  width: max-content;
  pointer-events: none;
  color: #000;
  top: -14px;
  left: 30px;
  visibility: hidden;
}

.menuDot .tapToView {
  position: absolute;
  width: max-content;
  font-size: 23px;
  top: 19px;
  left: 30px;
  visibility: hidden;
}

.menuDot.mobileShow{
  color: #fff;
}


.menuDot.mobileShow .title{
  color: #fff;
  visibility: initial;
}


.menuDot.selected .tapToView {
  visibility: initial;
  color: #fff;
  pointer-events: all;
}

.menuDot.selected .title {
  visibility: initial;
  color: #fff;
  pointer-events: all;
}

.menuDot.selected.disabled .title {
  pointer-events: none;
}

.menuDot.selected.disabled .tapToView {
  pointer-events: none;
}

.menuDot.mobile {
  color: #000;
}

.menuDot.mobile .title{
  visibility: initial;
}


.banner.white {
  color: white;
}

.bannerInner {
  width: max-content;
  white-space: nowrap;
  transform: translate3d(var(--move-initial), 0, 0.00001);
  backface-visibility: hidden;
  perspective: 1000px;
  will-change: transform;
  display: inline-block;
  /* animation: marquee 24s linear infinite; */
  text-rendering: optimizeSpeed;
  font-smooth: never;
  /* animation-play-state: paused; */
}
.bannerInner.bannerInnerWhite{
  position: absolute;
}

.bannerInner > img{
  /* width: 100vw; */
  height: 86px;
}

.b .banner span {}

@keyframes marquee {
  0% {
    transform: translate(var(--move-initial), 0) translateZ(0px);
  }

  100% {
    transform: translate(var(--move-final), 0) translateZ(0px);
  }
}

#topBanner {
  top: 0;
  z-index: 99998;
}

#topBannerWhite{
  top: 0;
  z-index: 99999;
}
.banner{
  display: none;
}
.banner.show{
  display: block;
}



#bottomBanner {
  bottom: -10px;
  z-index: 99998;
}
#bottomBannerWhite {
  bottom: -10px;
  z-index: 99999;
}

#bottomBanner>.bannerInner {
  animation-direction: reverse;
}

#cardContainerContainer {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;

}



#cardContainer {
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: center; */
  /* vertically align children */
  padding-left: 50%;
  padding-right: 50%;
  opacity: 1;
  transition: opacity 0.3s, transform 0.6s;
  /* transition-delay: 0.1s, 0.3s; */
}

#cardContainer.hidden {
  transform: translateY(-300px);
  opacity: 0;
  transition-delay: 0.0s, 0.0s;
}



a {
  text-decoration: none;
}

.card {
  scroll-snap-align: center;
  width: 220px;
  height: 275px;
  background-color: #FF77F1;
  color: #ECFF77;
  border: solid #000000 2px;
  /* margin: 10px; */
  flex: 0 0 auto;
  margin-right: 1em;
  border-radius: 30px;
  font-size: 55px;
  line-height: 45px;
  font-family: 'Times MT Condensed';
  /* fake gap */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: auto;
  text-decoration: none;
  cursor: pointer;
}

.card.disabled {
  background-color: #EDEDED;
  border-color: #C8C8C8;
  color: #C8C8C8;
  cursor: auto;
}

.card.disabled:hover {
  background-color: #EDEDED;
  color: #C8C8C8;
}

#cardContainer.hidden .card {
  pointer-events: none;
}

#cardContainerContainer.hidden {
  pointer-events: none;
}

@keyframes pulsing {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  15% {
    transform: translate(-50%, -50%) scale(1);
  }

  21% {
    transform: translate(-50%, -50%) scale(1.3);
  }

  25% {
    transform: translate(-50%, -50%) scale(1);
  }

  30% {
    transform: translate(-50%, -50%) scale(1);
  }

  36% {
    transform: translate(-50%, -50%) scale(1.2);
  }

  40% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}


#menuButton {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  left: 50%;
  top: 50%;
  background-color: #ECFF77;
  transform: translate(-50%, -50%);
  display: none;
  transition: top 0.5s;
  /* transition-delay: 0.4s; */
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 99999;
  animation: pulsing 2s linear infinite;
  animation-delay: 1s;
}

#menuButton.inMenu {
  top: 77.5%;
  animation: none;
}

#menuButton.hide {
  visibility: hidden;
}

#menuButton>svg {
  opacity: 0;
  transform: rotate(180deg);
  transition: opacity 0.5s, transform 0.5s;

}

#menuButton.inMenu>svg {
  opacity: 1;
  transform: rotate(0deg);

}

@media (min-width: 800px) {


  .menuDot .title {
    font-size: calc(50px * 1/1.4);
    top: 15px;
    left: 40px;
  }

  .menuDot {
    font-size: 70px;
  }

  .menuDot .tapToView {
    font-size: 30px;
    top: 60px;
    left: 45px;
  }

  #cardContainerContainer {
    pointer-events: none;
  }

  #cardContainer {
    flex-wrap: wrap;
    padding-left: 0%;
    padding-right: 0%;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 800px;
    left: calc(50% - 400px);
  }

  #cardContainer.hidden {
    transform: none;
    opacity: 1;
  }


  .card {
    margin-right: 0em;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s, transform 0.4s;
  }

  #cardContainer.hidden>.card {
    opacity: 0;
  }

  .card:hover {
    color: #FF77F1;
    background-color: #ECFF77;
  }

  #cardContainer>.card:nth-child(1) {
    transition-delay: 0s, 0s, 0s, 0s;
  }

  #cardContainer>.card:nth-child(2) {
    transition-delay: 0s, 0s, 0.1s, 0.1s;
  }

  #cardContainer>.card:nth-child(3) {
    transition-delay: 0s, 0s, 0.2s, 0.2s
  }

  #cardContainer>.card:nth-child(4) {
    transition-delay: 0s, 0s, 0.3s, 0.3s;
  }

  #cardContainer>.card:nth-child(5) {
    transition-delay: 0s, 0s, 0.4s, 0.4s;
  }

  #cardContainer>.card:nth-child(6) {
    transition-delay: 0s, 0s, 0.5s, 0.5s;
  }

  #cardContainer.hidden>.card {
    transform: translateY(100px);
  }

  #cardContainer.hidden>.card:nth-child(1) {
    transform: translateY(-100px);
  }

  #cardContainer.hidden>.card:nth-child(2) {
    transform: translateY(-100px);
  }

  #cardContainer.hidden>.card:nth-child(3) {
    transform: translateY(-100px);
  }

  #menuButton {
    opacity: 1;
    transition: opacity 0.4s;
    transition-delay: 0.6s;
  }

  #menuButton>svg {
    visibility: hidden;
  }

  #menuButton.inMenu {
    opacity: 0;
    pointer-events: none;
    ;
    transform: translate(-50%, -50%);
    top: 50%;
    transition-delay: 0.0s;
  }
}

/* @media (min-width: 730px) {
  #cardContainer {
    width: 90%;
    left: 5%;
  }
}

@media (min-width: 960px) {
  #cardContainer {
    /* width: 100%;
    left: 0%; */